h2 { 
	background-color:  red
} 

div {
	border: 20px solid green;
	background-color: blue 
	font-family: Helvetica;
	height: 30px;
	width: 50px;
	margin: 5px;
	float: left;
}

* {
	font-family: Helvetica;
}